.cls {
    border-radius: 20px;
}
.cls0 {
    border: solid 5px #dc3545;
}

.cls50 {
    border: solid 5px #28a745;
}

.cls100 {
    border: solid 5px #17a2b8;
}

.hclasses {
    padding-bottom: 10px;
    padding-left: 5%;
}